<!--
    This page will render the PROJECTS section of the portfolio site. It will include a navigation header and footer,
    and a link to my github for completed works and participated projects.
-->

<% include ../partials/header.ejs %>

    <div class="main-container rounded">
        <div class="card rounded">
            <div class="card-header rounded">
                <div class="card-title">
                    <h1><%= title %></h1>
                </div>
            </div>
        </div>   

        <div class="card-body rounded">
            <div class="row">
                <p>Check out some of my projects I've completed
                    <a href="http://github.com/macravenduarte/">
                        <img class="image-responsive" src="/images/Github/GitHub_Logo.png"
                            title="Link to my Github repo"
                            width="100" length="100"/>
                    </a>
                </p>
            </div>
        </div>
    </div>

<% include ../partials/footer.ejs %>