<!--
    This page will render the PROJECTS section of the portfolio site. It will include a navigation header and footer,
    and a link to my github for completed works and participated projects.
-->

<% include ../partials/header.ejs %>

    <div class="container-fluid">
    <!--Jumbotron page header div class.
    Source: http://www.w3schools.com/bootstrap/bootstrap_case_jumbotron.asp-->
        <div class="page-header">
            <h1><%= title %></h1>
        </div>

        <div>
            <p>Check out some of my projects I've completed
                <a href="http://github.com/macravenduarte/">
                    <img src="../images/Github/GitHub_Logo.png"
                         title="Link to my Github repo"
                         width="100" length="100"/>
                </a>
            </p>
        </div>
    </div>

<% include ../partials/footer.ejs %>