<!-- This patial will render the footer with my Name and year the application was last updated -->
        <div class="footer-container">
            <footer class="rounded">
                <a>&copy 2018 | Marco Duarte</a></li>
            </footer>
        </div>
    </body>
</html>