<!--
    This file will render a general navigation footer for each page and
    will include two links in the navigation bar that includes: home and contact me.
-->
    </main>
       <footer>
<!-- Add a copyright symbol with year completed and my name as a list item.
       SOURCE:  http://www.w3schools.com/html/html_entities.asp -->
            <a>&copy 2018 | Marco Duarte</a></li>
       </footer>

</body>
</html>