<!--
    This file will render a general navigation footer for each page and
    will include two links in the navigation bar that includes: home and contact me.
-->
    </main>
        <footer>
            <a>&copy 2018 | Marco Duarte</a></li>
        </footer>
    </body>
</html>