<!-- 
    File Name: Web Portfolio Assignment
    Author: Marco Duarte
    Website name: marco-duarte-web-portfolio.herokuapp.com
    Descrption: This file will render the head and navigation header for the site.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        
        <meta http-equiv="Content-type" charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

        <!-- Stylesheet-->
        <link rel='stylesheet'
              href='/stylesheets/style.css' />
        
        <!--Add your favicon to the page head -->
        <link rel='icon'
              href='/images/favicon.ico' />
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        
        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!--Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    
    </head>
    <body>
        <div class="nav-container">
            <nav class="navbar navbar-expand-lg navbar-light rounded">     
                <div class="navbar-header">
                    <ul class="navbar-nav">
                    <!--Home-->
                        <% if(title == "Home" ) { %>
                            <li class="nav-item active">
                        <% } else { %>
                            <li class="nav-item">
                        <% } %>
                        <a href="/" class="navbar-brand"><i class="fas fa-home fa-2x"></i></a></li>
                    </ul>                    
                </div> <!-- End of navbar-header-->
                
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggler01">
                    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                    <!--About Me-->
                        <% if(title == "AboutMe" ) { %>
                            <li class="nav-item active">
                        <% } else { %>
                            <li class="nav-item">
                        <% } %>
                            <a class="nav-link" href="/aboutMe">About Me</a></li>
            
                    <!--Services-->
                        <% if(title == "Services" ) { %>
                            <li class="nav-item active">
                        <% } else { %>
                            <li class="nav-item">
                        <% } %>
                            <a class="nav-link" href="/services">Services</a></li>

                    <!--Projects-->
                        <% if(title == "Projects" ) { %>
                            <li class="nav-item active">
                        <% } else { %>
                            <li class="nav-item">
                        <% } %>
                            <a class="nav-link" href="/projects">Projects</a></li>

                    <!--Contact Me-->
                        <% if(title == "Contact Me" ) { %>
                            <li class="nav-item active">
                        <% } else { %>
                            <li class="nav-item">
                        <% } %>
                            <a class="nav-link" href="/contact">Contact Me</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                    <!--Check if Users logged in-->
                    <% if(displayName) { %>
                        <% if(title == "Users" ) { %>
                            <li class="nav-item active">
                        <% } else { %>
                            <li class="nav-item">
                        <% } %>
                            <span class="navbar-text"><i class="fas fa-user fa-2x"></i> <%= displayName %></span></li>
                    <!--Logout-->
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } else { %>
                    
                    <!--Login-->
                        <% if(title == "Login" ) { %>
                            <li class="nav-item active">
                        <% } else { %>
                            <li class="nav-item">
                        <% } %>
                            <a class="nav-link" href="/login">Login</a></li>
                    <!--Register-->
                        <% if(title == "Register" ) { %>
                            <li class="nav-item active">
                        <% } else { %>
                            <li class="nav-item">
                        <% } %>
                            <a class="nav-link" href="/register">Register</a></li>
                    <% } %>
                    </ul>
                </div>
            </nav>
        </div>