<!--
    This file will render a general navigation footer for each page and
    will include two links in the navigation bar that includes: home and contact me.
-->

   <footer>
<!-- Inverse the nav bar color and set it fixed to the bottom.
 Source: http://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/contacts">Contact Me</a></li>
<!-- Add a copyright symbol with year completed and my name as a list item.
   SOURCE:  http://www.w3schools.com/html/html_entities.asp -->
                <li><a>&copy 2015 | Marco Duarte</a></li>
            </ul>
        </nav>
        
    </footer>
        
</body>
</html>