<!--
    This file will render a general navigation footer for eah page and will include a three link navigtion bar that includes: home, contact me and back to the top of the page.
--> 
       
   <footer>
        
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#top">Top</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/contacts">Contact Me</a></li>
            </ul>
            
            <!-- 
                Add a copyright symbol with my name. 
            SOURCE:  http://www.w3schools.com/html/html_entities.asp
            -->
            &copy Marco Duarte
        </nav>
        
    </footer>
        
</body>
</html>