<!-- 
    File Name: Web Portfolio Assignment
    Author: Marco Duarte
    Website name:
    Descrption: This file will render the head and navigation header for the         site.
-->


<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet'
              href='/stylesheets/style.css' />
        <!--Add your favicon to the page head -->
        <link rel='icon'
              href='/images/favicon.ico' />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest   jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

        <!-- Latest compiled and minified   JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header>
    <!-- Inverse the nav bar color and set it fixed to the top.
         Source: http://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home Page</a></li>
                        <li><a href="aboutMe">About Me</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/contacts">Contact Me</a></li>
                    </ul>
                </div>
            </nav>
        </header>
