<!-- 
    This file is for the Home page of the Web Portfolio Assignment. It will include a navigation in the header and footer, and a picture of myself

-->

<%- include partials/header.ejs %>

<main class="container">
   
    <h1><%= title %></h1>
    <p>Home Page info here</p>
    
</main>

<%- include partials/footer.ejs %>