<!-- 
    This file is for the Home page of the Web Portfolio Assignment. It will include a navigation in the header and footer, and a picture of myself

-->

<%- include partials/header.ejs %>

<div id="home" class="container-fluid">

<!--Jumbotron page header div class.
    Source: http://www.w3schools.com/bootstrap/bootstrap_case_jumbotron.asp-->
    <div class="page-header">
        <h1><%= title %></h1>
    </div>

    <p>Home Page info here</p>
    
</div>

<%- include partials/footer.ejs %>