<!-- This file is for the Home page of the web application -->

<% include partials/header.ejs %>

    <div class="main-container rounded">
        <div class="card rounded">          
            <div class="card-header rounded">
                <div class="card-title">
                    <h1><%= title %></h1>
                </div>
            </div>

            <div class="card-body rounded">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-10 col-lg-9">
                        <p class="card-text">Welcome to my mini MEAN stack application!
                            The purpose is to demonstrate basic use of the MEAN Stack but with Twitter Bootstrapas the front-end styling</p>
                    </div>
                </div>
                <div class="row">
                    <!--MongoDB-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                        <img class="image-responsive" src="images/mongodb-logo.png"
                            title="MongoDB" width="300" length="300"/>
                    </div> 
                    <!--Node.js-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-1">
                        <img class="image-responsive" src="images/nodejs-logo.png"
                            title="Node.js" width="150" length="150"/>
                    </div>
                    <!--Html5 Badge -->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-1">
                        <img class="image-responsive" src="images/html-badge.png"
                            title="HTML5" width="150" length="150"/>
                    </div>
                    <!--Css3 Badge -->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-1">
                        <img class="image-responsive" src="images/css3-badge.png"
                            title="CSS3" width="150" length="150"/>
                    </div>
                    <!--Twitter Bootstrap -->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-1">
                        <img class="image-responsive" src="images/bootstrap-badge.png"
                            title="Twitter Bootstrap" width="150" length="150"/>
                    </div>
                </div>
            </div><!-- End of card body -->
        </div><!-- End of card-->    
    </div> <!-- End of container -->

<% include partials/footer.ejs %>