<!-- This file is for the Home page of the Web Portfolio Assignment. 
    It will include a navigation in the header and footer, and 
    a background picture -->

<% include partials/header.ejs %>

    <div class="container">
        
        <div class="row">
            <div class="page-header">
                <h1><%= title %></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <p>Welcome! This is a demo site made for Advanced Web Programming<br>
                    The purpose is to demonstrate basic use of the MEAN Stack:</p>
            </div>
        </div>
        
        <div class="row">
            <!--Node.js-->
            <div class="col-xs-6 col-md-4">
                <img class="image-responsive"
                    src="images/nodejs-logo.png"
                    title="Node.js"
                    width="150" length="150"/>
            </div>
        </div>

        <div class="row">
            <!--Twitter Bootstrap -->
            <div class="col-xs-6 col-md-4">
                <img class="image-responsive"
                    src="images/bootstrap_html_css.png"
                    title="Twitter Bootstrap, HTML5, CSS3"
                    width="300" length="300"/>
            </div>
        </div>

        <div class="row">
            <!--MongoDB-->
            <div class="col-xs-6 col-md-4">
                <img class="image-responsive"
                    src="images/mongodb-logo.png"
                    title="MongoDB"
                    width="300" length="300"/>
            </div>           
        </div>

    </div>

<% include partials/footer.ejs %>