/*This style sheet will have a global text style */
html {
    background-color: transparent;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
    background-color: #FFB800;
    padding: .5rem 1rem;
    display: flex;
    text-align: right;
}

/* Navigation Styling */
nav.navbar {
    background-color: #FFB800 !important;
}
/* change text size */
.navbar {
    font-size: 15px ;
}

/* change navbar-brand color */
.navbar a.navbar-brand {
    color: #0040FF;
  }

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#2159FF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: #2159FF;
  }

  /* change hamburger button border color */
button.navbar-toggler.navbar-toggler-right {
    border-color: #2159FF;
  }
/*Use the !important keyword to override any of bootstraps style for the nav bar,
on hover, and on selection*/
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2159FF !important;
    background-color: transparent !important;
}

/* Containers*/
.nav-container {
    padding: 0rem 0.5rem;
}

.footer-container {
    padding: 0rem 0.5rem;
}

.main-container {
    margin: 0rem 0.5rem;
}

.container {
    padding: 0.5rem 0rem;       
}

.container-fluid {
    text-align: center !important;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.row {
    justify-content: space-evenly;
}

/* Card*/
.card-header {
    text-align: center;
    padding: 0.25rem 0.75rem !important;
}

.card-body {
    background-color: #FFB800;
    align-items: center;
}

.card-text {
    text-align: center !important;     
}

/* Images*/
img .col-lg {
    align-items: center;
}

/* Form Styling */