/*This style sheet will have a global text style */
html {
    background-color: transparent;
}

main {
    background-color: #2159FF; /* Light Blue*/
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #002DB2;
    margin: 15px !important;
}

.navbar {
    font-size: 15px ;
    text-align: center;
}
/*Use the !important keyword to override any of bootstraps style for the nav bar,
on hover, and on selection*/
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2159FF !important;
    background-color: #B28100 !important;
}

.navbar-default .navbar-toggle {
    color: #FFB800 !important;
    border-color: transparent;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-fluid {
    text-align: center !important;
}

.row {
    justify-content: center;
}