/*This style sheet will have a global text style */
html {
    background-color: transparent;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
    background-color: #FFB800;
    padding: .5rem 1rem;
    display: flex;

}

nav.navbar {
    background-color: #FFB800 !important;
}
.navbar {
    font-size: 15px ;
    text-align: center;
}
/* change navbar-brand color */
.navbar a.navbar-brand {
    color: #2159FF;
  }
/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#2159FF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: #2159FF;
  }

  /* change hamburger button border color */
button.navbar-toggler.navbar-toggler-right {
    border-color: #2159FF;
  }
/*Use the !important keyword to override any of bootstraps style for the nav bar,
on hover, and on selection*/
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #B28100 !important;
    background-color: #2159FF !important;
}

.navbar-default .navbar-toggle {
    color: #FFB800 !important;
    border-color: transparent !important;
}

.nav-container {
    padding: 1em 1em 0em 1em;
}

.footer-container {
    padding: 0.5em 1em 1em 1em;
}
.container {
    padding: 1rem;    
}

.container-fluid {
    text-align: center !important;
    padding: 0em 1em 0em 1em;
}

.row {
    justify-content: space-around;
}

.panel-heading {
    text-align: center;
}
.panel-body {
    background-color: #FFB800;
}