<!--
    This page will render the PROJECTS section of the portfolio site. It will include a navigation header and footer, and a link to my github for completed works and participated projects.
-->

<%- include ../partials/header.ejs %>

<main class="container">
   
    <h1><%= title %></h1>
    <p>Add a link to your projects</p>
    
</main>

<%- include ../partials/footer.ejs %>