<% include ../partials/header.ejs %>

<main id="add" class="container">


    <div class="container-fluid">
        <!--page header div class via bootstrap -->
        <div class="page-header">
            <h1><%= title %></h1>
            <a href="/users/add">Register a New User</a>
        </div>
    </div>

</main>

<% include ../partials/footer.ejs %>