<!--
    This page will render an ABOUT ME section of the portfolio site. It will include a navigation header and footer, a couple text boxes that will display some information regarding who I am.
-->
<%- include ../partials/header.ejs %>

<div id="aboutMe" class="container-fluid">

<!--Jumbotron page header div class.
    Source: http://www.w3schools.com/bootstrap/bootstrap_case_jumbotron.asp-->
    <div class="page-header">
        <h1><%= title %></h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <p>I am a junior computer programmer with lots to offer almost any project!</p>
        </div>
    </div>
</div>

<%- include ../partials/footer.ejs %>