<!--
    This page will render an ABOUT ME section of the portfolio site. It will include a navigation header and footer, a couple text boxes that will display some information regarding who I am.
-->
<%- include ../partials/header.ejs %>

<main class="container">
   
    <h1><%= title %></h1>
    <p>shamelessly self promote yourself here</p>
    
</main>

<%- include ../partials/footer.ejs %>