<!-- 
    This page will render the CONTACT ME section from the contacts folder of the web portfolio site. It will include a navigation header and footer a form that will allow a user to send me an email. For confirmation purposes there is also a captcha box to avoid spamming
-->

<%- include ../partials/header.ejs %>

<main class="container">
   
    <h1><%= title %></h1>
    <p>Add a way for someone to contact you with a captcha confirmation</p>
    
</main>

<%- include ../partials/footer.ejs %>