<!--
    This page will render the SERVICES page of the web portfolio site. It will include a navigation header and footer, and possibly some pictures that represent the languages. 
-->

<%- include ../partials/header.ejs %>

<main class="container">
    
    <h1><% title %></h1>
    <p>Enter some of the languages that you are of service for</p>
    
</main>

<%- include ../partials/footer.ejs %>