<!--
    This page will render the SERVICES page of the web portfolio site. It will include a navigation header and footer,
     and possibly some pictures that represent the languages.
-->

<%- include ../partials/header.ejs %>

    <div class="container">
<!--Jumbotron page header div class.
    Source: http://www.w3schools.com/bootstrap/bootstrap_case_jumbotron.asp-->
        <div class="page-header">
            <h1><%= title %></h1>
        </div>
        <div class="row">
            <h3>Able to serve YOU in an assortment of different languages.</h3>

            <div class="col-xs-6 col-sm-4">
                <img class="image-responsive"
                     src="/images/Java-logo.png"
                     title="Java Logo"
                     width="100px"
                     length="100px"/>
            </div>
            <div class="col-xs-6 col-sm-4">
                <img class="image-responsive"
                     src="/images/php-logo.png"
                     title="Php Logo"
                     width="100px"
                     length="100px"/>
            </div>
            <div class="col-xs-6 col-sm-4">
                <img class="image-responsive"
                     src="/images/windows-logo.png"
                     title="Windows Logo"
                     width="100px"
                     length="100px"/>
            </div>
            <div class="col-xs-6 col-sm-4">
                <img class="image-responsive"
                     src="/images/csharp.png"
                     title="C Sharp Logo"
                     width="100px"
                     length="100px" />
            </div>
            <div class="col-xs-6 col-sm-4">
                <img class="image-responsive"
                     src="/images/mysql-logo.png"
                     title="MySql Logo"
                     width="100px"
                     length="100px"/>
            </div>
        </div>
    </div>

<%- include ../partials/footer.ejs %>