<!--
    This page will render the SERVICES page of the web portfolio site. It will include a navigation header and footer,
     and possibly some pictures that represent the languages.
-->

<%- include ../partials/header.ejs %>

    <div class="main-container rounded">
        <div class="card rounded">
            <div class="card-header rounded">
                <div class="card-title">
                    <h1><%= title %></h1>
                </div>
            </div>
        
            <div class="card-body rounded">
                <h3>Able to serve YOU in an assortment of different languages.</h3>
                <div class="row">
                    <div class="col-xs-3 col-sm-4 col-med-3">
                        <img class="img-responsive"
                            src="/images/Java-logo.png"
                            title="Java Logo"
                            width="100px"
                            length="100px"/>
                    </div>
                
                    <div class="col-xs-3 col-sm-4">
                        <img class="img-responsive"
                            src="/images/php-logo.png"
                            title="Php Logo"
                            width="100px"
                            length="100px"/>
                    </div>

                    <div class="col-xs-3 col-sm-4">
                        <img class="img-responsive"
                            src="/images/windows-logo.png"
                            title="Windows Logo"
                            width="100px"
                            length="100px"/>
                    </div>

                    <div class="col-xs-3 col-sm-4">
                        <img class="img-responsive"
                            src="/images/csharp.png"
                            title="C Sharp Logo"
                            width="100px"
                            length="100px" />
                    </div>

                    <div class="col-xs-3 col-sm-4">
                        <img class="img-responsive"
                            src="/images/mysql-logo.png"
                            title="MySql Logo"
                            width="100px"
                            length="100px"/>
                    </div>
                </div>
            </div><!-- End of card-body -->
        </div><!-- End of card -->
    </div>

<%- include ../partials/footer.ejs %>